* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    display: flex;
    border: 5px solid rgb(4, 4, 4);
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr;
    padding: 10px;
    gap: 10px;
    display: grid;
}
.item {
    display: flex;
    background-color: rgb(240, 223, 128);
    border: 2px solid #000000;
    padding: 10px;
    font-size: 18px;
     text-align: center;
}
.item1 {
    grid-column: 1 /2;
    grid-row: 3 / 2;
}
.item2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.item3 {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
}   
.item4 {
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}
.item5 {
    grid-column: 4 / 6;
    grid-row: 5 / 6;
}   


.box {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid #000;
    font-size: 20px;
}